alias stratoserver='ssh root@casparsadenius.de'
alias himbeere='ssh caspar@himbeere'
alias mainpc='ssh caspar@spa1lnx'
alias laptop='ssh caspar@sadeniemi'
alias nextcloudMCP='docker run -p 127.0.0.1:8000:8000 --rm -e NEXTCLOUD_HOST=https://nextcloud.casparsadenius.de -e NEXTCLOUD_USERNAME=spa1teN -e NEXTCLOUD_PASSWORD={{NEXTCLOUD_PASSWORD}} ghcr.io/cbcoutinho/nextcloud-mcp-server:latest'

alias smartmatch='ssh smartmatch@172.18.17.86'
alias hpivpn='cd && ./.snx-connect'
alias hpivpn-disconnect='snxctl disconnect'
alias hpicluster='ssh caspar.sadenius@hpc.sci.hpi.de'
alias hpiclusterrun='ssh caspar.sadenius@rx01.hpc.sci.hpi.de'

alias emacs='emacs -nw'

export ANTHROPIC_BASE_URL=https://api.deepseek.com/anthropic
export ANTHROPIC_AUTH_TOKEN={{ANTHROPIC_AUTH_TOKEN}}
export ANTHROPIC_MODEL=deepseek-v4-pro[1m]
export ANTHROPIC_DEFAULT_OPUS_MODEL=deepseek-v4-pro[1m]
export ANTHROPIC_DEFAULT_SONNET_MODEL=deepseek-v4-pro[1m]
export ANTHROPIC_DEFAULT_HAIKU_MODEL=deepseek-v4-flash
export CLAUDE_CODE_SUBAGENT_MODEL=deepseek-v4-flash
export CLAUDE_CODE_EFFORT_LEVEL=max

alias laut='for i in 1 2 3 4; do echo 1 | sudo tee /sys/class/hwmon/hwmon1/pwm${i}_enable > /dev/null; echo 255 | sudo tee /sys/class/hwmon/hwmon1/pwm${i} > /dev/null; done'
alias endlich_stille='sudo systemctl restart fan-quiet.service fan-mirror.timer'
